<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Age Predictor</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <div class= "header">
        <h2>Mental AGE DETECTOR</h2>
    </div>
    <div class="quiz-container">
        <h1>Mental Age Predictor</h1>
        <div id="question-box" class="question-box">
            <!-- Question content dynamically inserted here -->
        </div>
        <div id="result-box" class="result-box hidden">
            <!-- Result dynamically inserted here -->
        </div>
    </div>
</body>
</html>
